---
---
@import "{{ site.theme }}";

.wrapper {
  width: auto;
}

header {
  border: 1px solid #ccc!important;
  border-radius: 16px;
  padding: 16px;
  min-width: 400px;
  margin-top: 40px;
  margin-left: 8px;
  background-color:#f7eedc;
}

footer {
  //display: none;
}

.custom_header {
    width: 100%;
    background-color: white;
    position: fixed;
}

.logo_arc{
    float: left;
}

.logo_arc img {
    width: 30px;
    height: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: #d6525a;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    opacity: 0.3;
    background-size: cover;
}
